body {
    margin-top: 100px;
    background: linear-gradient(135deg, #1e1e2f, #3a1c71);
    color: #f0f0f0; 
    background-position: center center; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fddb92;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    padding: 20px;
    margin: 0 auto;
    max-width: 80%;
    backdrop-filter: blur(15px); /* Add blur to the background */
}

h1 {
    color: #ffda77;
    font-family: 'Baloo 2', cursive;
    font-size: 45px;  
}

h2 {
    color: #ffda77;
    font-family: 'Baloo 2', cursive;
    font-size: 25px;  
}

p{
    color: #e0e0f0;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;  
}

button{
    background-color: rgb(17, 2, 92);
    margin-top: 20px;
    color: #ffda77;
    font-family: 'Comic Neue', cursive, sans-serif;
    font-size: 20px;  
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color:#ffda77;
    color: white;
    font-family: 'Comic Neue', cursive, sans-serif;
    font-size: 20px;  
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button::after{
    display: block;
    width: 0;
    height: 2px;
    background: #ffda77;
    transition: width .3s;
}
button:hover::after{
    width: 100%;
    transition: width .3s;
    background: rgb(198, 78, 224);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #1a1f3c, #2a2f5c);
    gap: 15px;
    padding: 20px;
}

footer img {
    align-items: center;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
}