* {
     font-family: 'Comic Neue', cursive, sans-serif;
}
body {
    margin: 0;
    background: linear-gradient(135deg, #1e1e2f, #3a1c71);
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    min-height: 100vh;
}

h1, h2, h3 {
    text-align: center;
    color: #E6E6FA;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #E6E6FA;
}

h3 {
    font-size: 1.5em;
    
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #e0e0f0;
    margin-bottom: 16px;
}

.about {
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    margin: 40px 0;
    margin-left: 180px;
    border: 1px solid #E6E6FA;
}

.background {
    display: grid;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
}

.background video {
    width: 100%;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.skills, .cybersec {
    margin-top: 30px;
}

.skills ul, .cybersec ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills ul li, .cybersec ul li {
    background-color: rgba(42, 63, 92, 0.3);
    color: #e0e0f0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #E6E6FA;
    transition: background-color 0.3s ease;
}

.skills ul li:hover, .cybersec ul li:hover {
    background-color: #ffda77;
    color: #1e1e2f;
    border: none;
}

article {
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 280px;
    border-radius: 10px;
    border: 1px solid #E6E6FA;
}

.project {
    margin-bottom: 30px;
}

video {
    width: 100%;
    max-height: 400px;
    border-radius: 10px;
}

button {
    font-family: 'Comic Neue', cursive, sans-serif;
    background-color: #2a2f5c; /* softer blue */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffda77; /* lighter on hover */
}
/*footer_links code*/
.footer_links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.footer_links i {
    font-size: 30px;
    color: #E6E6FA;
    transition: 0.3s;
}

.footer_links i:hover {
    color: #ffda77;
}
.footer_links h2{
    font-size: 25px;
    color: #E6E6FA;
}
.footer_links h2:hover{
    color:#ffda77;
}


@media (max-width: 768px) {
    .skills ul, .cybersec ul {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}
