/*code for making sure font remains the same across every application */
* {
     font-family: 'Comic Neue', cursive, sans-serif;
}

body {
    margin-top: 100px;
    background: linear-gradient(135deg, #1e1e2f, #3a1c71);
    color: #f0f0f0; 
    background-position: center center;
    overflow-y:auto; 
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #E6E6FA;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    padding: 20px;
    margin: 0 auto;
    max-width: 80%;
    backdrop-filter: blur(15px); /* Add blur to the background */
}

.aboutme {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #E6E6FA;
    margin-top: 30px;
    text-align:center;
}

h1 {
    color: #E6E6FA;
    font-size: 45px;  
}

h2 {
    color:#E6E6FA;
    font-size: 25px;  
    align-items: center;
}

p{
    color: #e0e0f0;
    font-size: 20px; 
    align-items: center; 
}

button{
    background-color: rgba(42, 63, 92, 0.3);
    margin-top: 20px;
    color: #E6E6FA;
    font-size: 20px;  
    border-radius: 10px;
    border: 1px solid #E6E6FA;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color:#ffda77;
    color:#1e1e2f;
    font-size: 20px;  
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button::after{
    display: block;
    width: 0;
    height: 2px;
    background: #ffda77;
    transition: width .3s;
}
button:hover::after{
    width: 100%;
    transition: width .3s;
    background: rgb(198, 78, 224);
}

/*footer_links code*/
.footer_links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.footer_links i {
    font-size: 30px;
    color: #E6E6FA;
    transition: 0.3s;
}

.footer_links i:hover {
    color: #ffda77;
}
.footer_links h2:hover{
    color:#ffda77;
}
